<h1>Editar funcionário</h1>
<h2>ID: {{ funcionario.id }}</h2>

<div class="well">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Funcionário:</label>
      <input
        type="text"
        name="nome"
        id="nome"
        class="form-control"
        formControlName="nome"
        [(ngModel)]="funcionario.nome"
        minlength="5"
        required
      />

      <div
        *ngIf="
          formControls['nome'].errors &&
          (formControls['nome'].touched || formControls['nome'].dirty)
        "
        class="alert alert-danger"
      >
        <p *ngIf="!formControls['nome'].errors!['required']">
          Digite um funcionário
        </p>
        <p *ngIf="!formControls['nome'].errors!['minLength']">
          O funcionário deve conter pelo menos 5 caracteres
        </p>
      </div>
    </div>

    <div class="form-group text-center">
      <input
        type="submit"
        value="atualizar"
        class="btn btn-success"
        (click)="onSubmit()"
        [disabled]="!form.valid"
      />
      <a
        href=""
        class="btn btn-default"
        [routerLink]="['/funcionarios/listar']"
      >
        <span class="glyphcon glyphcon-chevron-left" aria-hidden="true"
          >Voltar</span
        >
      </a>
    </div>
  </form>
</div>
